/* #heading{
    color: red;
} */
#first,#second{
    color: rgb(41, 155, 117);
}
.Gupta
{
color: rgb(108, 203, 14);
}
/* div{
    color: rgb(223, 194, 29);
} */
#cl p{
    color: rgb(36, 126, 205);
 }